body{

    font-family:Arial;
}


.lading-page{
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 15px;
    height: 70vh;
    width: 1000px;  
    margin-left: 20%;
    padding-top: 10px;
    

}


.outputStyle,
.Input-style
{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    row-gap: 10px;
    column-gap: 20px;
    
}

.Input-style{

    height: 40px
   


}

.date-style{

}


.Add-style{
    background-color: green;
    color: white;
    border: none;
    transition: transform 0.2s ease-in-out;
    

}

.delete
{
    background-color: red;
    color: white;
    border: none;
    transition: transform 0.2s ease-in-out;
    height: 40px;

}


.Add-style:hover,
.delete:hover{
    background-color: rgb(26, 69, 69);
    transform: scale(1.1) ;
    font-weight: bold;
}

.Input-style:hover,
.date-style:hover{
    border-radius: 11px;
    cursor: pointer;
    border-color: blue;
    
}

@keyframes fade{
0%{
    opacity: 0;
    transform: translateY(20px);
}

100%{
    opacity: 1;
    transform: translateY(0);
}

}

.animation{
    animation: fade 0.5s ease-in-out;
}
